/*
 * CSS File for the solution
 * Tutorial 05
 * Step 01
 * Intstructions are found below in the CSS comments
 */

 html {
  /* We're setting the default font size for the html element */
  /* GO REMS */
  font-size: 1.0rem;
}

/*
  The body is our flex box and is setup
  to take the full width and height of the page
  from reset.css
*/
body {
  /* Set the font */
  font-family: Arial, Helvetica, sans-serif;
  /* Set the page background colour */
  background-color: #edf2f4;
  /* Set the text colour */
  color: #242121;
 /*Set display flex*/
display:flex;
flex-direction:column;
justify-content:space-between;
align-items:center;
}



header {
  padding: 1rem 44rem;
 background-color: #315a72;
 color:antiquewhite;
text-align: center;
}

header h2 {
  margin: 0;
  text-align: center;
}


/*
  To keep things simple we just target the
  main element directly.

  We add the align-self: center directive to
  center the flex item in the middle of the screen

  We set the minimum and maximum width so
  that we can keep our box to a certain size.

  Lastly we add padding, colours, and a box shadow to
  make it look a bit better
*/
main {
 align-self: center;
 max-width: 100%;

  min-width: 500px;
  padding: 5rem;
  margin: 2rem;
  background-color: #457b9d;
  color: #f1faee;
  border-radius: 20px;
  box-shadow: #315a72 0px 8px 40px;
}

/*
  To keep things simple we just target the
  footer directly. Here we are adding
  padding to the top and bottom (nothing on the side)
  and setting the background and text colours.
*/
footer {
  padding: 1rem 42rem;
 background-color: aqua;
color:beige
}

footer h2 {
  text-align: center;
}
